build_vs2015
InstallPlanes
InstallPlanes_new
build
build_asan
build_coverity
build_linux
build_mingw
build_vs2017
.metadata
.recommenders
.classpath
.project
bin
.settings
/Book/*.aux
/Book/*.out
/Book/*.log
/Book/*.pdf
/Book/*.gz
/Book/*.toc
.idea
.externalNativeBuild
Releases
PlayStoreGraphics
Planes_Keystore
InstallPlanes_small
EasyScreen
gradle
/java/PlanesAndroid/gradlew
/java/PlanesAndroid/gradlew.bat
/java/PlanesAndroid/local.properties
/java/PlanesAndroid/PlanesAndroid.iml
lib
/java/PlanesJavaFx/src/com/planes/javafx/PlaneRoundJavaFx.class
/java/PlanesAndroid/app/app.iml
debug
release
/Planes.pro.user
/CMakeLists.txt.user
