<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="youtube.com"
                android:scheme="https" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".LoaderActivity"
            android:exported="true"
            android:theme="@style/MyAppTheme"
            android:testOnly="false"
            android:label="Planes Android"
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:allowBackup="true"
            android:exported="false"
            android:testOnly="false"
            android:theme="@style/MyAppTheme">

        </activity>
    </application>

</manifest>