<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.planes.android">

    <application
        android:label="Planes Android"
        android:theme="@style/MyAppTheme"
        android:testOnly="false">

        <activity android:name=".PlanesAndroidActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>